/ {	

};

&uart0 {
	compatible = "nordic,nrf-uart";
	current-speed = <9600>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";   

	eminv1:eminv{
		status = "okay";
		compatible = "zephyr,eminv";
	};
};