/ {	

};

&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <9600>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";   

	yx5300_1:mp3yx5300{
		status = "okay";
		compatible = "zephyr,mp3yx5300";
	};
};